@include keyframes(heartBeat) {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.3);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.3);
    }

    70% {
        transform: scale(1);
    }
}

@mixin heartBeat {
    animation-duration: 1.3s;
    animation-name: heartBeat;
    animation-timing-function: ease-in-out;
}

.heartBeat {
    @include heartBeat;
}
