@include keyframes(lightSpeedOut) {
    from {
        opacity: 1;
    }

    to {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

@mixin lightSpeedOut {
    animation-name: lightSpeedOut;
    animation-timing-function: ease-in;
}

.lightSpeedOut {
    @include lightSpeedOut;
}
