@include keyframes(rotate) {
    from {
        transform-origin: center;
        transform: rotate(1080deg);
    }

    to {
        transform-origin: center;
        transform: rotate(0deg);
    }
}

@mixin rotate {
    animation-name: rotate;
}

.rotateIn {
    @include rotate;
}
