.container-fluid {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
}

.container-width-scroll {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow-x: scroll;

    &:first-child {
        width: 100%;
        height: 100%;
    }
}
