.container-fluid {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
}

.container-width-scroll {
    max-width: 100%;
    min-height: 100% !important;
    min-height: 100vh !important;
    min-height: -webkit-fill-available;
    position: relative;
    overflow-x: scroll;

    &:first-child {
        width: 100%;
        height: 100%;
    }
}
