.footer {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    white-space: nowrap;
    bottom: 0;
    background-color: rgba(61, 95, 9,.8);
    /*z-index: 10;*/
    color: white;

    & a {
        color: white;
        text-decoration: none !important;

        &:hover {
            color: black;
        }
    }

    & p {
        font-size: .8rem;
    }
}
