.footer {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    white-space: nowrap;
    bottom: 0;
    background-color: rgb(0, 35, 6);
    /*z-index: 10;*/
    color: white;

    & a {
        color: white;
    }

    & p {
        font-size: .8rem;
    }
}
