@mixin animateLeftMargin {
    transition-duration: .8s;
}

.sidenav {
    height: 100vh;
    width: 12rem;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    left: -12rem;
    background-color: white;
    box-shadow: none;
    transition-property: left;

    @include animateLeftMargin;


    &.show {
        left: 0;
        box-shadow: -9px 3px 22px 3px rgba(0,0,0,0.75);
    }
}

.top-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition-property: left;
    @include animateLeftMargin;

    &.show {
        left: 12rem;
    }
}

.sidenav-main-container {
    padding: 0;
    margin-top: 3.5rem;
    margin-left: 0;
    transition-property: margin-left;
    @include animateLeftMargin;

    &.show {
        transition-property: margin-left;
        margin-left: 12rem; /* Same as the width of the sidebar */
        @media(max-width:768px) {
            margin-left: 0;

            &:after {
                transition-property: margin-left;
                background: rgba(0,0,0,0.4);
            }
        }
    }
}

.Logo {
    z-index: 100;
    position: relative;
    max-height: 5.5rem;
}


.toggler-icon {
    font-size: 2rem;
    background-color: transparent;
    outline: none !important;
    border: 0 !important;
    background-color: white;
    color: rgb(61, 95, 8) !important;
    z-index: 2;
    @include animateLeftMargin;

    &:before {
        content: "\f0c9";
    }
    /*&.show {
        margin-left: 12rem !important;*/ /* Same as the width of the sidebar */
    /*}*/
}
