
/*** helpers ***/
@import "./helpers/_variables.scss";
@import "./helpers/_functions.scss";
@import "./helpers/_mixins.scss";
@import "./animation/_animate.scss";

/*** modules ***/
@import "./modules/_fonts.scss";
@import "./modules/_html.scss";
@import "./modules/_buttons.scss";
@import "./modules/_navbar.scss";
@import "./modules/_footer.scss";
@import "./modules/_container.scss";


/*** pages ***/
@import "./pages/_home.scss";
