/*.container {
    @include zoomInDown;
    @include animated;
    @include faster;
}
*/
.wide-container {
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 100% !important;
}

.main-container {
    margin-top: 10rem !important;

    @media(max-width:767.98px) {
        margin-top: 6rem !important;
    }
}
