.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    white-space: nowrap; /* Set the fixed height of the footer here */
    background-color: rgb(0, 35, 6);
    color: white;

    & a {
        color: white;
    }

    & p {
        font-size: .8rem;
    }
}
