.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    white-space: nowrap; /* Set the fixed height of the footer here */
    background-color: rgb(0, 35, 6);
    z-index: 10;
    color: white;

    & a {
        color: white;
        text-decoration: none !important;

        &:hover {
            color: black;
        }
    }

    & p {
        font-size: .8rem;
    }
}
