html {
    scroll-behavior: smooth;
    font-size: 14px;
    position: relative;
    min-height: 100% !important;
    min-height: 100vh !important;
    min-height: -webkit-fill-available;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        min-height: 100%;
        min-height: 100vh;
        min-height: -webkit-fill-available;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: .3;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        background-image: url('/public/images/MintOliveBG.jpg');
    }
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
