$nav-bar-transition: ease-in .8s;

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0px 46px 90px -61px rgba(0,0,0,0.75);

    &.transition {
        /*   @include slideInDown;
        @include animated;
        @include fast;*/
        background-color: white;
        //transition: $nav-bar-transition;
    }
}

@media(min-device-width:768px) {
    .navbar {
        z-index: 1000;
        @include slideInDown;
        @include animated;
        @include fast;
    }
}

.logo-container {
    &:focus {
        @include bounce;
        @include animated;
        @include faster;
    }
}

.Logo {
    z-index: 100;
    position: relative;
    max-height: 5.5rem;
    transition: max-height ease-in .4s;

    &.small {
        max-height: 3rem !important;
        transition: max-height ease-out .4s;
    }
}

.toggler-icon {
    font-size: 2.5rem;
    background-color: transparent;
    outline: none !important;
    border: 0 !important;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    color: rgb(61, 95, 8) !important;


    @media(min-width:768px) {
        display: none !important;
    }

    &.show {
        @include rotateIn;
        @include animated;
        @include fast;

        &:before {
            content: "\f00d";
        }
    }

    &.hide {
        @include bounceIn;
        @include animated;
        @include slow;

        &:before {
            content: "\f0c9";
        }
    }
}

@media(max-width:767.98px) {
    .collapse.show {
        background-color: white;
        transition: $nav-bar-transition;
    }
}

.nav-cart {
    font-size: 2.5rem;
    background-color: transparent;
    outline: none !important;
    border: 0 !important;
    margin: auto;
    margin-left: 1rem;
    margin-right: .5rem;
    color: rgb(61, 95, 8) !important;
}
