/*** vendor ***/
@import "./bootstrap/bootstrap";
@import "./animation/_animate.scss";

/*** Styles ***/
@import "./modules/_general.scss";
@import "./modules/_a.scss";
@import "./modules/_badge.scss";
@import "./modules/_bottons.scss";
@import "./modules/_line-limit.scss";
@import "./modules/_breadcrumb.scss";
@import "./modules/_checkbox.scss";
@import "./modules/_dropdown.scss";
@import "./modules/_page-header.scss";
@import "./modules/_icons.scss";
@import "./modules/_input.scss";
@import "./modules/_label.scss";
@import "./modules/_modal.scss";
@import "./modules/_radius.scss";
@import "./modules/_scrollbar.scss";
@import "./modules/_shop-card.scss";
@import "./modules/_text-area.scss";
@import "./modules/_text-styles.scss";
@import "./modules/_toggler.scss";
@import "./modules/_tooltip.scss";
