.bg-gray {
    background-color: rgb(128, 128, 128);
}

.bg-light-gray {
    background-color: rgb(245, 245, 245);
}

.bg-dark-blur {
    background: rgba(12, 12, 12, 0.76);
    box-shadow: 0px 0px 50px 29px rgba(0, 0, 0, 0.76)
}
