.badge {
    font-size: 0.9rem;
    border-radius: 0.2rem;
    padding: .1rem .2rem;
    border: 0;
    user-select: all;
    color: white !important;


    &-lg {
        font-size: 1.2rem;
    }

    & span {
        user-select: none;
        cursor: pointer;
        margin-left: 0.9rem;
    }

    &.red {
        background: rgb(165, 21, 8);
    }

    &.blue {
        background: rgb(2, 6, 76);
    }

    &.yellow {
        background: rgb(242, 159, 5);
    }

    &.light-blue {
        background: rgb(3, 140, 101);
    }

    &.green {
        background: rgb(69, 115, 2);
    }
}
