.badge {
    font-size: 0.9rem;
    border-radius: 0.9rem;
    border: 0.1rem solid black;
    user-select: all;

    &-lg {
        font-size: 1.2rem;
    }

    & span {
        user-select: none;
        cursor: pointer;
        margin-left: 0.9rem;
    }

    &.red {
        border: 0.2rem solid rgb(135, 35, 35);
    }
}
