.cookie-banner {
    @include slideInUp;
    @include animated;
    @include fast;
    background-color: white;
    box-shadow: 0px -11px 14px -5px rgba(44,44,44,0.4);
}


.c-container {
    position: sticky;
    z-index: 100;
    bottom: 0;
}
