.cookie-banner {
    @include slideInUp;
    @include animated;
    @include fast;
    background-color: white;
    box-shadow: 0px -11px 14px -5px rgba(44,44,44,0.4);
    position: fixed;
    z-index: 1001;
    width: 100%;
    bottom: 0;
}
