body { /* Margin bottom by footer height */
    font-family: 'Rubik', sans-serif;
    border: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
    min-height: 100%;

    &.remove-scroll {
        overflow-y: hidden;
    }
}
