.chat {
    border: .1rem solid #dedede;
    border-radius: .1rem;
    padding: .5rem;
    margin: .5rem;

    &.incoming {
        background-color: rgb(250, 255, 241);
    }


    &.outgoing {
        margin-left: auto;
        background-color: white;
    }
}
