.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

    &::after {
        content: "";
        clear: both;
        display: table;
    }

    &.darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    .time-right {
        float: right;
        color: #aaa;
    }
}
