.chat {
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

    &::after {
        content: "";
        clear: both;
        display: table;
    }

    &.send {
        background-color: #f1f1f1;

        .sender {
            font-size: small;
            text-align: right;
        }
    }


    &.receive {
        border-color: #f1f1f1;
        margin-left: auto;
        background-color: white;

        .sender {
            font-size: small;
        }
    }
}
