.comment {
    border: .1rem solid #dedede;
    border-radius: .1rem;
    padding: .5rem;
    margin: .5rem;

    & .reply {
        @extend .comment;
        background-color: rgb(250, 255, 241);
    }
}
