@import 'react-nice-dates/src/style.scss';

.nice-dates {
    &-popover {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 1px 8px rgba(#000, .12);
        margin: 8px 0;
        max-width: 300px;
        position: absolute;
        transform-origin: top;
        transform: perspective(1000px);
        transition-property: transform, opacity;
        transition-duration: 400ms;
        transition-timing-function: cubic-bezier(.4, .2, 0, 1.1);
        width: 100%;
        will-change: transform, opacity;
        z-index: 9;

        &:not(.-open) {
            opacity: 0;
            pointer-events: none;
            transform: perspective(1000px) rotateX(-15deg);
        }
    }
}
