.dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;

    &::-webkit-scrollbar {
        width: 0.2rem;
        height: 0.2rem;
    }
}

.input-dropdown {
    width: 100%;
    border-radius: 0.5rem;
    background-color: white;
    background-clip: padding-box;
    border: 0px none;
    outline: 0;
    padding: .2rem !important;
    margin: 0 !important;
    border-bottom: 0.15rem solid rgb(128, 128, 128);
    font-size: 1.2rem !important;
    font-weight: 100;
    text-align: left;
    @extend .radius-none;

    &:focus {
        border-bottom-color: $input-border-botton-focus-color;

        &.show:after {
            color: $input-border-botton-focus-color;
            content: "\f0d8";
        }
    }

    &:after {
        text-align: right;
        float: right;
        text-decoration: none;
        padding-left: 0.5rem;
        content: "\f0d7";
        font-family: "FA5 Solid" !important;
    }

    &.disabled {
        background-color: rgb(224, 224, 224) !important;
        color: black;
    }

    &.danger {
        border-bottom: 0.15rem solid rgb(189, 28, 28) !important;
    }

    &.valid {
        border-bottom: 0.15rem solid rgb(34, 180, 53) !important;
    }
}
