* {
    font-family: "Rubik", Arial;
}

.pos-sticky {
    position: sticky;
    top: 8rem;
}

.pos-b-sticky {
    position: sticky;
    bottom: 0;
}

.pos-t-sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.t-0 {
    top: 0;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pm-0 {
    padding: 0;
    margin: 0;
}


.cursor-pointer {
    cursor: pointer;
}

.bg-gray {
    background-color: rgb(128, 128, 128);
}

.bg-light-gray {
    background-color: rgb(245, 245, 245);
}

.alice-carousel__stage-item {
    height: inherit;
    line-height: unset;
}
