* {
    font-family: "Rubik", Arial;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.remove-btn-style {
    background-color: transparent;
    outline: none !important;
    border: 0 !important;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    color: rgb(61, 95, 8) !important;
}
