* {
    font-family: "Rubik", Arial;
}

.mb-0 {
    margin-bottom: 0 !important;
}


.cursor-pointer {
    cursor: pointer;
}

.bg-gray {
    background-color: rgb(128, 128, 128);
    padding: .3rem;
}

.pos-sticky {
    position: sticky;
    top: 8rem;
}
