* {
    font-family: "Rubik", Arial;
}

.common-boarder-bottom {
    border-bottom: 0.15rem solid rgb(128, 128, 128) !important;

    &.danger {
        border-bottom: 0.15rem solid rgb(189, 28, 28) !important;
    }

    &.valid {
        border-bottom: 0.15rem solid rgb(34, 180, 53) !important;
    }

    &:focus {
        border-bottom-color: $input-border-botton-focus-color;
    }
}


.cursor-pointer {
    cursor: pointer;
}

.cursor-normal {
    cursor: default !important;
}


.alice-carousel__stage-item {
    height: inherit;
    line-height: unset;
}
