.add-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f055";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.back-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f0a8";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.tick-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f058";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }

    &.hide {
        opacity: 0;
    }
}

.save-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f0c7";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.edit-icon {
    &:before {
        text-decoration: none;
        padding: 0.2rem .3rem;
        content: "\f044";
        display: inline;
        font-family: "FA5 Solid" !important;
    }
}

.lock-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f023";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.search-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f002";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.search-all-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f00e";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.unlock-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f3c1";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.filter-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f0b0";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.delete-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f2ed";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.plus-icon {
    &:before {
        text-decoration: none;
        content: "\f067";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.minus-icon {
    &:before {
        text-decoration: none;
        content: "\f068";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.sort-numeric-up-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f163";
        display: inline;
        font-family: "FA5 Solid" !important;
    }
}

.sort-numeric-down-icon {
    &:before {
        text-decoration: none;
        padding: 0 .2rem;
        content: "\f886";
        display: inline;
        font-family: "FA5 Solid" !important;
    }
}

.sortable-icon {
    &-light {
        &:before {
            padding: 0 .2rem;
            content: "\f0dc";
            font-family: "FA5 Solid" !important;
            color: rgb(180, 180, 180);
        }
    }

    &:before {
        padding: 0 .2rem;
        content: "\f0dc";
        font-family: "FA5 Solid" !important;
    }
}

.pagination-left-arrow {
    font-style: normal;

    &:after {
        text-decoration: none;
        content: "\f053";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }

    &:before {
        text-decoration: none;
        content: "\f104";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.pagination-right-arrow {
    font-style: normal;

    &:after {
        text-decoration: none;
        content: "\f054";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }

    &:before {
        text-decoration: none;
        content: "\f105";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.info-icon {
    text-decoration: none !important;
    margin: auto;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;

    &:after {
        color: rgb(61, 95, 9);
        font-size: 2rem;
        margin: 0;
        content: "\f05a";
        font-family: "FA5 Solid" !important;
    }
}

.user-circle-icon {
    text-decoration: none !important;
    color: rgb(61, 95, 9);
    margin: auto;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;

    &:after {
        font-size: 2rem;
        margin: 0;
        content: "\f2bd";
        font-family: "FA5 Solid" !important;
    }
}

.open-eye-icon {
    &:before {
        text-decoration: none;
        padding: 0.2rem;
        content: "\f06e";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.close-eye-icon {
    &:before {
        text-decoration: none;
        content: "\f070";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.cart-icon {
    &:before {
        padding: 0.2rem .3rem;
        text-decoration: none;
        content: "\f291";
        display: inline;
        font-family: "FA5 Solid" !important;
    }
}

.calendar-icon {
    &:after {
        font-size: 1.7rem;
        text-decoration: none;
        content: "\f783";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }
}

.map-marker-icon {
    &:after {
        font-size: 1.7rem;
        margin: 0;
        padding: 0;
        text-decoration: none;
        content: "\f3c5";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }

    padding: 0.4rem;
    border-radius: 100%;

    &-contact-page {
        &:after {
            @extend .map-marker-icon;
            font-size: 2.5rem;
            padding: 2rem 3rem;
            border: 0.1rem dashed rgba(0,0,0,0.19);
        }
    }
}

.facebook-icon {
    &:after {
        font-size: 1.7rem;
        margin: 0;
        padding: 0;
        text-decoration: none;
        content: "\f09a";
        display: inline-block;
        font-family: "FA5 Brands" !important;
    }

    padding: 0.4rem;

    &-contact-page {
        &:after {
            @extend .facebook-icon;
            font-size: 2.5rem;
        }
    }
}

.instagram-icon {
    &:after {
        font-size: 1.7rem;
        margin: 0;
        padding: 0;
        text-decoration: none;
        content: "\f16d";
        display: inline-block;
        font-family: "FA5 Brands" !important;
    }

    padding: 0.4rem;

    &-contact-page {
        &:after {
            @extend .instagram-icon;
            font-size: 2.5rem;
        }
    }
}

.phone-icon {
    display: inline-block;

    &:before {
        text-decoration: none;
        content: "\f095";
        display: inline-block;
        font-family: "FA5 Solid" !important;
        padding: 0;
        margin: 0;
        padding-top: 0.4rem;
    }
}

.email-icon {
    display: inline-block;

    &:before {
        text-decoration: none;
        content: "\f0e0";
        display: inline-block;
        font-family: "FA5 Solid" !important;
        padding: 0;
        margin: 0;
        padding-top: 0.4rem;
    }
}


.close-icon {
    &:after {
        font-size: 1.7rem;
        margin: 0;
        padding: 0;
        text-decoration: none;
        content: "\f057";
        display: inline-block;
        font-family: "FA5 Solid" !important;
    }

    padding: 0.4rem;
    border-radius: 50%;

    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
    }
}

.table-row-icon {
    &:before {
        text-decoration: none;
        padding: 0.5rem;
        content: "\f0cf";
        display: inline;
        font-size: 1.5rem;
        font-family: "FA5 Solid" !important;
    }

    &.disabled {
        &:before {
            color: rgb(128, 128, 128);
        }
    }
}

.table-card-icon {

    &:before {
        text-decoration: none;
        padding: 0.5rem;
        content: "\f0ce";
        display: inline;
        font-size: 1.5rem;
        font-family: "FA5 Solid" !important;
    }

    &.disabled {
        &:before {
            color: rgb(128, 128, 128);
        }
    }
}

.dispute-icon {
    &:before {
        text-decoration: none;
        padding: 0.2rem .3rem;
        content: "\f006";
        display: inline;
        font-family: "FA5 Solid" !important;
    }
}

.comment-icon {
    &:before {
        text-decoration: none;
        padding: 0.2rem .3rem;
        content: "\f075";
        display: inline;
        font-family: "FA5 Solid" !important;
    }
}

.comment-review-icon {
    &:before {
        text-decoration: none;
        padding: 0.2rem .3rem;
        content: "\f075";
        color: forestgreen;
        display: inline;
        font-family: "FA5 Solid" !important;
    }
}
