input {
    width: 100%;
    border-radius: 0.5rem;
    background-color: white;
    background-clip: padding-box;
    border: 0px none;
    outline: 0;
    box-sizing: border-box !important;
    padding: .2rem !important;
    margin: 0 !important;
    font-size: 1.2rem !important;
    z-index: 1 !important;
    @extend .radius-none;
    @extend .common-border-bottom;


    &:focus {
        background-color: white;
    }

    &:disabled {
        background-color: rgb(224, 224, 224) !important;
        color: black;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
}

.col-form-label {
    z-index: 1;
}

.slider {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;

    &:hover {
        opacity: 1;
    }
}

.input-right-label {
    display: inline-block;
    position: absolute;
    z-index: 2;
    right: 1rem;
    bottom: .6rem;
    text-align: right;
    padding: 0.38rem;
    background-color: white;
    color: rgb(108, 108, 108);
    user-select: none;
    line-height: 0;
}

.file-input {
    font-size: 1.2rem !important;
    z-index: 1 !important;
    @extend .radius-none;
    @extend .common-border-bottom;

    & span.float-right {
        padding: .2rem !important;
    }

    &:focus {
        background-color: white;
    }
}

textarea {
    width: 100%;
    border-radius: 0.5rem;
    background-color: transparent;
    background-clip: padding-box;
    border: 0px none;
    outline: 0;
    padding: .2rem !important;
    margin: 0 !important;
    border-bottom: 0.15rem solid rgb(128, 128, 128) !important;
    font-size: 1.2rem !important;
    @extend .radius-none;

    &.danger {
        border-bottom: 0.15rem solid rgb(189, 28, 28) !important;
    }

    &.valid {
        border-bottom: 0.15rem solid rgb(34, 180, 53) !important;
    }

    &:focus {
        background-color: white;
        border-color: rgb(128, 128, 128) !important;
        box-shadow: none !important;
        border-bottom-color: $input-border-botton-focus-color !important;
    }

    &:disabled {
        background-color: rgb(224, 224, 224) !important;
        color: black;
    }
}

.form-control-lg {
    height: calc(1.5em + 1rem);
}
