label {
    transition-duration: .6s;
    user-select: none;
    color: rgb(108, 108, 108);

    &.dark {
        color: rgb(0, 0, 0);
    }

    &.lower {
        transform: translate(0, 1.5rem);
        cursor: text;
    }
}
