.notification-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.notification {
    @include slideInUp;
    @include animated;
    @include fast;
    background-color: rgb(38, 58, 6);
    color: white;
    box-shadow: -4px 6px 12px -1px rgba(0,0,0,0.78);
}

.close-button {
    color: white;
    font-size: 1.2rem;

    &:hover {
        background-color: transparent !important;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
}


.alert {
    font-weight: 600;

    & a {
        font-weight: 100;
        font-size: 1.2rem;

        &:hover {
            font-weight: bold;
            text-decoration: none;
        }
    }

    &.default {
        background-color: white;
        color: black;

        & a {
            color: black;
        }
    }

    &.warning {
        background-color: rgb(255, 221, 70);
        color: black;

        & a {
            color: black;
        }
    }

    &.error {
        background-color: rgb(135, 35, 35);
        color: white;

        & a {
            color: white;
        }
    }

    &.success {
        background-color: rgb(35, 135, 62);
        color: white;

        & a {
            color: white;
        }
    }
}
