$hr-section-base-color: rgb(128, 128, 128);

.line-header {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: $hr-section-base-color;
    user-select: none;
    font-size: 1.5rem;

    &::before, &::after {
        content: "";
        flex-grow: 1;
        background: $hr-section-base-color;
        height: .1rem;
        font-size: 0;
        line-height: 0;
        margin: 0px .8rem;
    }

    &-no-line {
        &::before, &::after {
            height: 0;
        }
    }

    &-lg {
        @extend .line-header;
        font-size: 2.3rem;

        @media(max-device-width:767.98px) {
            & {
                font-size: 1.5rem;
            }
        }
    }
}
