
.line-header {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgb(128, 128, 128);
    user-select: none;
    font-size: 1.5rem;

    &::before, &::after {
        content: "";
        flex-grow: 1;
        background: rgba(215, 215, 215, 0.50);
        height: .1rem;
        font-size: 0;
        line-height: 0;
        margin: 0;
    }

    &::before {
        margin-right: .8rem;
    }

    &::after {
        margin-left: .8rem;
    }

    &-no-line {
        &::before, &::after {
            height: 0;
        }
    }

    &-lg {
        @extend .line-header;
        font-size: 2.3rem;

        @media(max-device-width:767.98px) {
            & {
                font-size: 1.5rem;
            }
        }
    }
}
