.pos-sticky {
    position: sticky;
    top: 8rem;
}

.pos-b-sticky {
    position: sticky;
    z-index: 100;
    bottom: 0;

    &.shadow-top {
        box-shadow: 0px -11px 14px -5px rgba(44,44,44,0.4);
    }
}

.pos-t-sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}
