.rate {
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate:not(:disabled) > input:checked + label:hover,
.rate:not(:disabled) > input:checked + label:hover ~ label,
.rate:not(:disabled) > input:checked ~ label:hover,
.rate:not(:disabled) > input:checked ~ label:hover ~ label,
.rate:not(:disabled) > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
