/*@import "../0-helpers/_functions.scss";
@import "../1-tools/_background-colors.scss";*/

*::-webkit-scrollbar-track-piece {
    background-color: white;
}

*::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(80, 125, 12);
}

.scrollbar-y-width {
    padding-right: .7rem !important;
}

.scrollbar-x-width {
    padding-bottom: .7rem !important;
}
