@mixin shop-card-size {
    height: auto;
    max-width: 20.5rem;
}

.shop-card {
    @include shop-card-size;
    // border-radius: 0.9rem;
    text-align: center;
    color: black;
    margin: 1rem;
    text-decoration: none;
    word-wrap: break-word;
    padding-bottom: 0 !important;
    border-bottom: 0.02rem solid rgba(61, 95, 9,0.75);
    /*
    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
    }
*/
    &.no-border {
        border-bottom: none;
    }

    &-category {
        @extend .shop-card;
        border-bottom: none;
    }
}

.shop-card-img {
    width: inherit;
    height: inherit;
    left: 0;
    top: 0;
}

.link-shop-card-img {
    @include shop-card-size;
    margin: 0;
    padding: 0;
    position: relative;

    & img {
        @extend .shop-card-img;
        transition: opacity .5s;
    }

    & span {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
        padding: 1.5rem;
        border: none;
        font-size: 1.5rem;
        background-color: rgb(99, 125, 56);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
        transition: opacity .5s;
    }

    &:hover {

        & span {
            opacity: 1;
            transition: opacity 1s;
        }

        & img {
            opacity: 0.3;
            transition: opacity .5s;
        }
    }
}
