.small-text {
    font-size: .8rem;
}

.underline {
    text-decoration: underline;
}

.table-header {
    user-select: none;

    &-sort {
        @extend .table-header;
        cursor: pointer;
        text-decoration: underline;
    }
}

.select-all-text {
    user-select: all;
}

.text-gray {
    color: rgb(173, 173, 173);
}


.text-light-gray {
    color: rgb(218, 214, 214);
}

@for $i from 1 through 5 {
    .line-limit-#{$i} {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        -webkit-line-clamp: $i;
    }
}


.line-header {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgb(128, 128, 128);
    user-select: none;
    font-size: 1.5rem;

    &::before, &::after {
        content: "";
        flex-grow: 1;
        background: rgba(215, 215, 215, 0.50);
        height: .1rem;
        font-size: 0;
        line-height: 0;
        margin: 0;
    }

    &::before {
        margin-right: .8rem;
    }

    &::after {
        margin-left: .8rem;
    }

    &-no-line {
        &::before, &::after {
            height: 0;
        }
    }

    &-lg {
        @extend .line-header;
        font-size: 2.3rem;

        @media(max-device-width:767.98px) {
            & {
                font-size: 1.5rem;
            }
        }
    }
}

label {
    transition-duration: .6s;
    user-select: none;
    color: rgb(108, 108, 108);
    z-index: 0 !important;

    &.dark {
        color: rgb(0, 0, 0);
    }

    &.lower {
        transform: translate(0, 1.8rem);
        cursor: text;
    }
}

.display-5 {
    @extend .display-4;
    font-size: 2.5rem;
}

.display-6 {
    @extend .display-4;
    font-size: 1.5rem;
}

.display-7 {
    @extend .display-4;
    font-size: 1.2rem;
}
