.small-text {
    font-size: .8rem;
}

.underline {
    text-decoration: underline;
}

.table-header {
    user-select: none;

    &-sort {
        @extend .table-header;
        cursor: pointer;
        text-decoration: underline;
    }
}

.select-all-text {
    user-select: all;
}

.text-gray {
    color: rgb(173, 173, 173);
}
