.toggler {
    margin: 0;
    padding: 0;

    & div {
        position: relative;
        display: inline-block;
        width: 1.5rem;
        height: .75rem;
        line-height: 0;
        vertical-align: middle;
    }

    &.toggler-lg div {
        width: 2rem;
        height: 1rem;

        & + label {
            line-height: 0;
            vertical-align: middle;
        }
    }

    &.toggler-xlg div {
        width: 3rem;
        height: 1.5rem;

        & + label {
            line-height: 0;
            vertical-align: middle;
            font-size: 1.2rem !important;
        }
    }

    & div + label {
        cursor: pointer;
        margin: 0;
        padding: 0;
        padding-left: .3rem;
        line-height: 0;
        user-select: none;
        vertical-align: middle;
    }

    & div input {
        display: none;
        height: 0 !important;
        width: 0 !important;

        &:focus + span {
            box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75) !important;
        }
    }

    & div input:checked + span {
        background-color: rgb(62, 207, 0) !important;
    }

    & div input:checked + span:before {
        transform: translateX(100%);
    }

    & span {
        position: absolute;
        display: inline-block;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(200, 0, 0);
        transition: transform .8s;

        &:before {
            position: absolute;
            display: inline-block;
            content: "";
            height: 100%;
            width: 50%;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            box-shadow: inset 0 0 .3rem rgb(42, 42, 42);
            background-color: rgb(255, 255, 255);
            transition: transform .4s;
        }
    }

    &.circle {
        & span {
            border-radius: 2rem;

            &:before {
                border-radius: 50%;
            }
        }
    }
}
