.custom-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;

    & .custom-tooltip-text {
        visibility: hidden;
        width: auto;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: .2rem .5rem;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 50%;
        transform: translate(50%,50%);
        margin-left: .5rem;
    }

    & .custom-tooltip-text::after {
        content: "";
        position: absolute;
        top: -30%;
        left: 50%;
        margin-left: -.5rem;
        border-width: .5rem;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }

    &:focus .custom-tooltip-text {
        visibility: visible;
    }

    &:hover .custom-tooltip-text {
        visibility: visible;
    }
}

.tooltip-select-all-text {
    user-select: all;
}

.tooltip {
    &:focus {
        visibility: visible !important;
    }
}
